{% extends 'base_dash.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<h1>Dashboard</h1>
    <h4 id="h3" class=""></h4>
      <button id="btnDisplay" class="button_center">Display Info</button>
<a href="javascript:location.reload(true)" ><button class="button_center">Refresh Page</button></a>
{% else %}
Registration Done
<br>
Click <a class="p-2 text-dark" href="{% url 'login' %}">Here</a> to login
{% endif %}
<script>
document.querySelector("#btnDisplay").addEventListener('click', function() {
    document.getElementById("h3").innerHTML="Full Name: " + "{{user.full_name}}"+ "<br>"+
    "Passport no: " + {{user.passport_number}} + "<br>" +
    "Phone number: " + {{user.phone_number}} + "<br>"+
    "Email: " + "{{user.email}}"+ "<br>"+
    "Date of Birth: " + "{{user.d_o_b}}";
});
</script>
{% endblock content %}