{% extends 'base.html' %}

{% load static %}

{% block content %}
<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form class="form-signin" method="post">
              {% csrf_token %}
				<img src="{% static 'img/avatar.svg' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">

  <input type="tel" name="phone_number" id="phone_number" placeholder="Phone number">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">

                   <input type="password" name="password" id="password" placeholder="Password" required autofocus>
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% endblock content %}